html {
    height: 200px;
    width: 400px;
    text-align: center;
    background-color:blue;
    color: beige;
}


div {
    position: absolute;
}


#button {
    height: 25px;
    width: 150px;
    background-color: rgb(192, 192, 203);
    color: black;
    position: absolute;
    top: 150px;
    right: 125px;
}